@tailwind base;

h1 {
    @apply text-2xl font-semibold;

}

h2 {
    @apply text-xl font-semibold;
}

h3 {
    @apply text-lg font-semibold;
}

/* App.css */
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
   

@tailwind components;
@tailwind utilities;